/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,
html {
  width: 100%;
  height: 100%;
}
  
.jumbotron { 
    color: #ffffff;
    background-color: #0A0B0D; /* black */
	background: url(../img/background1.jpg) no-repeat center fixed;
	padding: 100px 25px;
	background-size: cover;
	background-position: absolute;
	min-height: 100%;
	}

.logoheading {
font-size:  50px;
color:red;
}

.secondheading {
	font-size: 95px;
	font-family: 'Pacifico', cursive;
	background-color: grey;
    opacity: 0.2;
    filter: alpha(opacity=40);
}
	
.container-fluid {
    padding: 50px 20px 20px 20px;

	}

 .bg-grey {
    background-color: #f6f6f6;

}

/* Add an orange color to all icons and set the font-size */

.logo-small {
    color: #cc0000;
    font-size: 50px;
}

.logo {
    color: #cc0000;
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
         margin: 35px 0;
	}
	
	.logo-small {
	   text-align: center;
    color: #cc0000;
    font-size: 40px;
}

.logo {
   text-align: center;
    color: #cc0000;
    font-size: 150px;
}

}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}	
	
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #cc0000;
}

.carousel-indicators li {
    border-color: #cc0000;
}

.carousel-indicators li.active {
    background-color: #cc0000;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 10px;
    color: #cc0000;
}

footer {
   
    margin-bottom: 20px;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    color: #cc0000;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

/*FACE in Properties*/

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #cc0000;
    z-index: 9999;
    border: 0;
    //font-size: 12px !important;
	font-weight:400;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #cc0000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #0A0B0D !important;
}


.modal {

margin-top: 40px;

}

/*.myServices {

background-color: green;

}

.myServices:hover {
  cursor: pointer;
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
*/
.myServices {
  background: #0a0b0d;
  border-radius: 10px;
  -webkit-box-shadow: 4px 8px 20px #e80000;
  -moz-box-shadow: 4px 8px 20px #e80000;
  box-shadow: 4px 8px 20px #e80000;
  padding: 10px 12px 10px 12px;
  border: solid #cc0000 5px;
  text-decoration: none;
  }

.myServices:hover {
  color: #33cc00;
  background: #0a0b0d;
  background-image: -webkit-linear-gradient(top, #0a0b0d, #242607);
  background-image: -moz-linear-gradient(top, #0a0b0d, #242607);
  background-image: -ms-linear-gradient(top, #0a0b0d, #242607);
  background-image: -o-linear-gradient(top, #0a0b0d, #242607);
  background-image: linear-gradient(to bottom, #0a0b0d, #242607);
  border-radius: 10px;
  -webkit-box-shadow: 4px 8px 30px #3ef700;
  -moz-box-shadow: 4px 8px 30px #3ef700;
  box-shadow: 4px 8px 30px #3ef700;
  padding: 10px 12px 10px 12px;
  border: solid #33cc00 5px;
  text-decoration: none;
  
  }